.FaReact {
  font-size: 45px;
  color: #00D8FF;
}

.NextIcon {
  width: 50px;
  height: 50px;
}

.FaMobileAlt {
  font-size: 45px;
  color: #d0dcde;
}

.FaVue {
  font-size: 45px;
  color: #81c784;
}

.FaNodeJs {
  font-size: 45px;
  color: #689F63;
}

.DiJavascript1 {
  font-size: 42px;
  background-color: #F7DF1E;
  color: #FFF;
}

.FaAngular {
  font-size: 45px;
  color: #E4293A;
}

.FaJava {
  font-size: 45px;
  color: #FFF;
  border-radius: 30px;
}

.DiDotnet {
  font-size: 45px;
  color: #8552C1;
}

.DiGithub {
  font-size: 45px;
  color: #000;
  background-color: #FFF;
  border-radius: 30px;
}

.DiMongodb {
  font-size: 45px;
  color: #5EA34F;
}

.DiDatabase {
  font-size: 45px;
  color: #8ABEE6;
}

@media only screen and (max-width: 620px) {
.FaReact, .FaMobileAlt, .FaVue, .FaNodeJs, .DiJavascript1, 
.FaAngular, .FaJava, .DiDotnet, .DiGithub, .DiMongodb, 
.DiDatabase {
  font-size: 30px;
}
}

@media only screen and (max-width: 400px) {
  .FaReact, .FaMobileAlt, .FaVue, .FaNodeJs, .DiJavascript1, 
  .FaAngular, .FaJava, .DiDotnet, .DiGithub, .DiMongodb, 
  .DiDatabase {
    font-size: 25px;
  }
  }