div.pageSobre {
  min-height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: #b9f0ff;
}

@media only screen and (max-width: 620px) {
  div.pageSobre {
    min-height: 90vh;
    width: 147%;
}
}

.square {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-image: linear-gradient( 
    45deg, 
    rgb(113, 212, 234), 
    rgb(71, 90, 182) );
}

.full-screen-square {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: linear-gradient( 45deg, rgb(70, 117, 222), rgb(107, 169, 222) );
}

.content_flipper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
}

.ponteiro {
  position: absolute;
  margin-top: 55px;
  margin-left: 50px;
  animation: is-translate 1s infinite;
}

.icon_pessoa {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 81vh;
}

@media only screen and (max-width: 700px) {
  .icon_pessoa {
    margin-top: 30%;
  }
}

@keyframes is-translate {
  to {
    transform: translateY(4px);
  }
}

@media only screen and (max-width: 700px) {
  .content_flipper {
    margin-top: 20%;
  }
}

button {
  border: none;
  background: none;
  outline: none;
}

button:focus {
  border: none;
  background: none;
  outline: none;
}

button:link {
  border: none;
  background: none;
  outline: none;
}
