div.page {
    min-height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: #00c9ff;
}


@media only screen and (max-width: 620px) {
  div.page {
    min-height: 90vh;
    width: 147%;
}
}

div.home {
  padding-top: 0px;
}

.content_gif {
  position: absolute;
  bottom: 15px;
  margin-left: 50%;
}

@media only screen and (max-height: 788px) {
  .content_gif {
    display: none;
  }
}

.seta_cima {
  position: absolute;
  margin-top: 20px;
  margin-left: -15px;
  animation: is-rotating 1s infinite;
}

@media only screen and (max-width: 620px) {
.seta_cima {
  width: 20px !important;
  height: 20px !important;
  margin-left: -6px;
}
}

.gif {
  /* position: absolute; */
  /* top: 90%; */
  margin-top: 10vh;
  animation: is-rotating 1s infinite;
}

@media only screen and (max-width: 620px) {
  .gif {
    margin-top: 30vh;
  }
}

@keyframes is-rotating {
  to {
    transform: translateY(4px);
  }
}